{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "globals": {
        "L": "readonly",
        "console": "readonly",
        "window": "readonly",
        "document": "readonly"
    },
    "rules": {
        "no-unused-vars": "warn",
        "no-console": "off",
        "semi": ["error", "always"]
    }
}